<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "zh-CN" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
          {%- if page.title -%}
            <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}

          {{ content }}

          {%- if site.github_username -%}
            <ul class="contact-list">
              {%- if site.email -%}
                <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif -%}
              {%- if site.github_username -%}
                <li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
              {%- endif -%}
            </ul>
          {%- endif -%}
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>